body{
    background-color: #ddf3fe
}

h1{
    color:#ef4b54;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: xx-large;
}

h2{
    color:#dc629d;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: x-large;
    margin-bottom: 40px;
}

h3{
    color:#262262;
    font-family: "pdu-regular",Arial,sans-serif !important;
    font-size: large;
    margin-top: 40px;
    text-decoration: underline;
}

p{
    font-family: Trebuchet MS, sans-serif;
    margin-left: 25px;
}

ul li{
    font-family: Trebuchet MS, sans-serif;
    margin-left: 25px;
    margin-block-start: auto;
}

a{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: #fd7190;
    text-decoration: none;
}