h1{
    color:#CC0D22;
    background-color: #fbdedd;
    text-align: center;
    font-family: Verdana;
    font-size: x-large;
}

h2{
    color:#fd7190;
    background-color: #fbdedd;
    text-align: center;
    font-family: Verdana;
    font-size: larger;
    margin-bottom: 40px;
}

h3{
    color:#2b3574;
    font-family: "pdu-regular",Arial,sans-serif !important;
    font-size: large;
    margin-top: 40px;
    text-decoration: underline;
}

p{
    font-family: Arial;
    margin-left: 25px;
}

ul li{
    font-family:Arial;
    margin-left: 25px;
}